* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: rgb(44, 51, 78); */
}
.logo {
    width: 90px;
    height: 90px;
    /* padding-left: 50px; */
}
.navigation {
    background-color: rgb(22, 26, 39);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: left; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    /* gap: 100px; */
    /* padding-left: 80px; */
    padding: 0 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.logo-wrapper{
    display: flex;
    gap: 20px;
    /* justify-content: center; */

}
.navbar {
  display: flex; 
  gap: 30px; 
  float: right; 
  align-items: center;
  /* padding-right: 10px; */
  list-style: none;
 
}
.navbar a
 {
    text-decoration: none;
    color: white;
    /* justify-content: space-around; */
    /* padding:10px ; */
}
.navbar a:hover{
    background-color: rgb(166, 66, 6) ;
    height: 70px;
}
.login-btn {
    height: 60px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    background-color: inherit;
    border: none;
}

.login {
    align-self: center;
    list-style: none;
}
.login a,
.login-btn a {
text-decoration: none;
 color: white;
text-align: end;
}
.first-headind {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    /* padding-top: 100px; */
    font-size: 60px;

}
.first-p {
    text-align: center;
    color: rgb(247, 197, 159);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}
.first-img{
    width: 350px;
    height: 350px;
   opacity: 100px ;
   display: block;
   margin-left: auto;
   margin-right: auto; 
   margin-top: 30px;
   fill-opacity: inherit;
}
.hero-section {
    background-image: url("image/24_crown_e.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    /* background-image:  */
    /* linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url('image/24_crown_e.png'); */
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url("image/24_crown_e.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

